

.profile-row1 {
  background-color:white;
  text-align: left;
  font-weight: lighter;
  font-size: 16px;

    padding: 20px;
  border: 1px solid #0072ff;
   padding-left: 0

}

.profile-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 6px;
  background: white;
  box-shadow: 0px 1px 2px rgba(10,10,10,0.3);
  background-color:  #F6F6F6;
  margin-bottom: 20px;
  margin-top: 30px;

}




.profile-row3 {
  background-color:#F6F6F6;
  text-align: left;
  font-weight: lighter;
  font-size: 16px;

    padding: 20px;
border: 1px solid #0072ff;
 margin-top: 35px;

}


.avatar-cropper {
       width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 1px 2px rgba(10,10,10,0.3);


}



  .avatar-cropper img {


    height: 100%;
    }



.button-offer {
  text-align: left;
  margin-top: 15px;

}

.profile-show-rating {
  color:$mainblue;
  margin-right: 16px;
  margin-top: 16px;
}

.mission-number {
  margin-left:16px;
  margin-top: 16px;
}



.profile-image img {
  width: 100%;
  align: center;
  box-shadow: 0px 1px 2px rgba(10,10,10,0.3);

}

.profile-presentation {
  background-color: white;

}

.profile-experiences {

  background-color: white;
  margin-top: 30px;

}


.row4 {
  display: flex;
  border: 1px solid #0072ff;
  background-color: #F6F6F6;

}

.my-presentation{
padding: 5px 5px 5px 5px;

}

