.events-wrapper {
  width: 80%;
  margin: 0 auto;
}

.events-list-wrapper {
  width: 100%;
}

.events-search-and-create {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  padding-top: 8px;
}

.events-create {
  margin-right: 5px;
}

.events-title {
  font-size: 32px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -40px;
  color: $mainblue;

}
