.events-wrapper {
  width: 80%;
  margin: 0 auto;
}

.events-list-wrapper {
  width: 100%;
}

.events-search-and-create {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

}

.events-create {
  margin-right: 5px;
  margin-top: 3px;
}

.events-title {
  margin-bottom: 24px;
  padding: 16px;
  line-height: 50px;
  h1 {
    font-size: 32px;
    text-align: center;
    border-radius: 3px;
    padding: 10px;
  }

}
