.events-search-and-create {
  display: flex;
  margin-bottom: 32px;
  padding-top: 8px;
}

.events-create {
  width: 14%;
  justify-content: flex-end;
  margin-right: 5px;

}

.events-title {
  font-size: 32px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -40px;
  color: $mainblue;

}
