.flex-container {
  display: flex;
}

.sidebar {
  display: block;
  float: left;
  width: 18%;
  background-color: white;
  color:rgb(40,40,40);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;

}

.right-side {
  display: block;
  float: right;
  width: 82%;
  padding-left: 40px;
}

#job-listings-title {
  margin-bottom: 50px;
  h1 {
  text-align: left;
  font-weight: lighter;

  }
}
