.flex-container {
  display: flex;
}

.sidebar {
  display: block;
  float: left;
  width: 18%;
  border-right: 1px solid black;
  margin: 0px;
  padding: 10px;

}

.right-side {
  display: block;
  float: right;
  width: 82%;
  padding-left: 40px;
}

#job-listings-title {
  margin-bottom: 50px;
  h1 {
  text-align: left;
  font-weight: lighter;

  }
}
