.flex-container {
  display: flex;

}

.sidebar {
  display: block;
  float: left;
  width: 18%;
  h3 {
    text-align: center;
    background-color: $maingreen;
    color: white;
    font-size: 16px;
    margin-top: 0;
    padding: 12px;
  }

  p {
    font-size: 14px;
    text-align: left;
    padding: 8px;
  }

}

.right-side {
  display: block;
  float: right;
  width: 82%;
  padding-left: 40px;

}

#job-index-title {
 text-align: left;
 color: black;
}

#job-title {
 text-align: left;
 color: black;

}

.filterelement {
  padding: 8px;
}

.filtercategory {
  font-size: 14px;
}

.filteritem {
  font-size: 12px;
}

.filteroptions {
  font-size: 12px;
  font-weight: lighter;
  padding-left: 5px;
  border-bottom: 1px solid $maingreen;

}

.collection_check_boxes {
  padding: 5px;
  font-weight: lighter;
}

.col-form-label {
  font-size: 14px;
  margin-bottom: 16px;


}

.filter-label {
  font-size: 14px;
  font-weight: lighter;
  padding: 12px 5px 0 5px;
  margin-bottom: 30px;
}

.filtersearch {
  margin-bottom: 10px;
}

.filters {
  background-color: white;
  border-radius: 3px;
  border-top: 1px solid $maingreen;
  border-right: 1px solid $maingreen;
  border-left: 1px solid $maingreen;
  position: sticky;
  top: 80px;
}


