
.confirm-job {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.booking-confirmation {
  padding: 20px;
  h2 {
    font-size: 22px;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 30px;
  }
}
