<div class="wrapper banner">
  <div class="full backimage">
    <div class="text">
      <p>I am a candidate</p>
      <h3>LOOKING <br> FOR A JOB</h3>
      <%=link_to "Find a job", job_listings_path, class: "btn landing-button" %>
    </div>

    </div>
    <div class="full-second backcolor2">
      <div class="text">
        <p>I am an employer</p>
        <h3>MANAGING <br> AN EVENT</h3>
        <%=link_to "Find your staff", candidates_job_listings_path, class: "btn home-button" %>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag "application" %>
<%= javascript_pack_tag "banner" %>


