

<!--
<div style="position: relative; justify-content: center;" class="wrapper">
  <h1 style="position: absolute; margin-top: 30vh;">STAFFIZE {Event}</h1>
  <div class="img-banner">
  </div>

  <div class="img-banner">
  </div>
</div> -->


<div style="position: relative; justify-content: center;" class="wrapper">
  <div class="wrapper_text">
    <h1 >STAFFIZE{Event}</h1>
    <h3 style="position: absolute; z-index: 1; text-align: ce">Find work and workers for your next event on the go</h3>
  </div>



  <div class="full">
         <%= link_to "Create a Job", new_event_path, class:"btn btn-outline test" %>
    <div class="overlay-effect ">

      <div class="text">
        <div class = "home-buttons">
       </div>
     </div>
    </div>
  </div>



  <div class="full-second border ">
          <%= link_to "Find a Job", job_listings_path, class:"btn btn-outline test" %>
    <div class="overlay-effect-second">
      <div class="text">
        <div class = "home-buttons">
        </div>
      </div>
    </div>
  </div>
</div>







