.banner {
  width: 100%;
  height: calc(100vh - 170px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;

}


.banner-text-container {
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-top: 16%

}


h1 {
  color: #3895D3;
  font-size: 48px;
}

.specific-clqss {
  h3 {
    color: #3895D3;
    font-size: 32px;
  }
}

a {
}

a:hover {
   text-decoration: none;
}


.btn-outline {
  color: white;

}


.home-buttons {
  display: flex;
  justify-content:center;
}


.btn {
  flex-direction: row;
  color: #3895D3;
  font-size: 24px;
  background: none;
  padding: 16px 24px;
  border: 2px solid #3895D3;
  border-radius: 5px;
  transition: 0.5s;
  cursor:pointer;
  display:inline-block;
  position: relative;
  margin: 24px 8%;


}

.btn:hover {
  color:white;
  background: #3895D3;
  text-decoration: none;

}
