.banner {
  width: 100%;
  height: calc(100vh - 170px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.banner-text-container {
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-top: 16%;

}


h1 {
  color: #3895D3;
  font-size: 48px;
}

.specific-class {
  h3 {
    color: #3895D3;
    font-size: 32px;
  }
}

a:hover {
   text-decoration: none;
}


