.right-side-buttons {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.right-side-button-employer {
  margin: 8px;
  display: inline-block;
}

.btn-right-side-main-employer {
  width: 74%;
  background: $mainblue;
}

.btn-apply-candidate {
  bottom: 0px;
  width: 74%;
  background-color: $maingreen;
  color: white;
  transition: background-color 0.3s;
}

.btn-apply-candidate:hover {
  background-color: white;
  color: $maingreen;
  border-color: $maingreen;
}

.btn-right-side-secondary-candidate {
  bottom: 0px;
  width: 25%;
  background-color: $maingreen;
  border-color: $maingreen;
  transition: background-color 0.3s;
}

.btn-right-side-secondary-employer {
  margin-top: 2px;
  margin-right: 3px;
  width: 31%;
  background-color: $mainblue;
  border-color: $mainblue;
}

.btn-right-side-secondary-candidate:hover {
  background-color: white;
  border-color: $maingreen;;
  color: $maingreen;
}

.btn-right-side-secondary-employer:hover {
  background-color: $hoverblue;
  border-color: rgb(14, 37, 130);
  color: white;
}



.show-button-holder {
  display:flex;

}

.apply-for-job-button a{
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.landing-button {
  @extend .btn;
  color: white;
}


// Button style from homepage
.btn-outline {
  color: white;
}

.home-buttons {
  text-align:center;
  color: white;
  font-size: 24px;
  background: none;
  padding: 16px 24px;
  border: 2px solid white;
  border-radius: 5px;
  transition: 0.5s;
  cursor:pointer;
  position: relative;
  margin: 10% 20%;


}


.btn-banner1:hover {
  color:white;
  background: rgba(0,101,168,1);
  text-decoration: none;

}

.btn-banner2:hover {
  color:white;
  background: rgba(54,221,124,1);
  text-decoration: none;

}



.no-right-margin a {
      margin-right: 0px;
}

.btn-banner a:hover{
    color: #446DF6;
    color: white;
}

.apply-for-job-button {
  list-style-type: none;
  display: inline;
  color: #26C485;
  border: 3px solid #446DF6;
  border-radius: 8px;
  padding: 5px;
  margin: 0px !important;
  flex-direction: row;
  justify-content: flex-end;

  &:hover {
    color: white;
    background: #446DF6;
  }
}

.delete-button a {
  flex-direction: row;
  margin: 15px;
  color: white;
  padding: 3px;
  border: 3px solid white;
  border-radius: 8px;
  display:inline;
  text-decoration: none;
}

.delete-button a:hover {
  background-color: red;
  color:white;
  // box-shadow: 2px;
  padding: 3px;
  border: 3px solid red;
  border-radius: 8px;
}

.view-button a {
  flex-direction: row;
  margin: 15px 0px;
  color: white;
  padding: 3px;
  border: 3px solid white;
  border-radius: 8px;
  display:inline;
  text-decoration: none;
}

.view-button a:hover {
  background-color: green;
  color:white;
  // box-shadow: 2px;
  padding: 3px;
  border: 3px solid green;
  border-radius: 8px;
}

.bookings {
  display:flex;
  flex-direction: column;
}

.bookings-buttons {
  display:flex;
}



.back-button a {
  list-style-type: none;
  display: inline;
  border: 3px solid #00ff83;
  background-color:#00ff83;
  border-radius: 8px;
  padding: 10px;
  margin: 0px;
  flex-direction: row;
  justify-content: flex-end;
   &:hover {
    color: white;
    background: #00ff83;
  }
}

.button-view-job {
  border: 1px solid $maingreen;
  background-color: $maingreen;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
  position: absolute;
  right: 14%;
  top: 20%;
  font-size: 18px;
  color: white;
}

.button-view-job:hover {
  background-color: white;
  color: $maingreen;
}

.button-view-job-employer {
  border: 1px solid $mainblue;
  border-radius: 3px;
  padding: 3px;
  position: absolute;
  right: 50px;
  top: 38px;
  font-size: 16px;
  color: $mainblue;
}

.button-view-job-employer:hover {
  background-color: $mainblue;
  color: white;
}

.button-form {
  width: 100%;
  margin-bottom: 20px;
  margin-left: 0;
  background-color: $mainblue;
  color: white;

}

.button-form:hover {
  background-color: $hoverblue;
  color: white;
}


.btn-confirm-application {
  border-radius: 3px;
  bottom: 0px;
  background-color: $maingreen;
  color: white;
}

.btn-back-confirm-application {
  border-radius: 3px;
  bottom: 0px;
  background-color: $maingreen;
  color: white;
  a {
  color: white;
  }
}

.btn-confirm-application:hover {
  background-color: white;
  border-color: $maingreen;
  color: $maingreen;
}

.btn-back-confirm-application:hover {
  background-color: white;
  color: $maingreen;
  border-color: $maingreen;
  a {
    color: $maingreen;
  }

.button-search-candidate {
  background-color: $maingreen;
  color: white;
  border: 1px solid $maingreen;
  border-radius: 3px;
  transition: background-color 0.3s;
  padding: 2.5px;
}

.button-search-candidate:hover {
  background-color: white;
  color: $maingreen;

}

// comment comment comment
