
// Button style from homepage
.btn {
  list-style-type: none;
  display: inline-block;
  color: #3895D3;
  border: 1px solid #3895D3;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
  flex-direction: row;
  justify-content: flex-end;
  &:hover {
    color: white;
    background: #3895D3;
  }
}
