.right-side-buttons {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.right-side-button-employer {
  margin: 8px;
  display: flex;
}

.btn-right-side-main-employer {
  width: 74%;
  background: $mainblue;
}

.btn-apply-candidate {
  bottom: 0px;
  width: 74%;
  background-color: $maingreen;
  color: white;
  transition: background-color 0.3s;
}

.btn-apply-candidate:hover {
  background-color: white;
  color: $maingreen;
  border-color: $maingreen;
}

.btn-right-side-secondary-candidate {
  bottom: 0px;
  width: 25%;
  background-color: $maingreen;
  border-color: $maingreen;
  transition: background-color 0.3s;
}

.btn-right-side-secondary-employer {
  margin-right: -3px;
  background-color: $mainblue;
  border-color: $mainblue;
  color: white;
}

.btn-right-side-secondary-employer-back {
  width: 26%;
  background-color: $mainblue;
  border-color: $mainblue;
}

.btn-right-side-secondary-candidate:hover {
  background-color: white;
  border-color: $maingreen;;
  color: $maingreen;
}

.btn-right-side-secondary-employer:hover {
  background-color: white;
  border-color: $mainblue;
  color: $mainblue;
}

.btn-right-side-secondary-employer-back:hover {
  background-color: $hoverblue;
  border-color: rgb(14, 37, 130);
  color: white;
}



.show-button-holder {
  display:flex;

}

.apply-for-job-button a{
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.landing-button {
  @extend .btn;
  color: white;
}


// Button style from homepage
.btn-outline {
  color: white;
}

.home-buttons {
  text-align:center;
  color: white;
  font-size: 24px;
  background: none;
  padding: 16px 24px;
  border: 2px solid white;
  border-radius: 5px;
  transition: 0.5s;
  cursor:pointer;
  position: relative;
  margin: 10% 20%;


}

.view-button a {
  flex-direction: row;
  margin: 8px;
  color: white;
  padding: 12px;
  border: 1px solid $maingreen;
  background-color:  $maingreen;
  border-radius: 3px;
  display:inline;
  transition: background-color 0.3s;
  text-decoration: none;
}

.view-button a:hover {
  background-color:white;
  color:$maingreen;
  padding: 12px;
  border: 1px solid $maingreen;
  border-radius: 3px;
}

.btn-banner1:hover {
  color:white;
  background: rgba(0,101,168,1);
  text-decoration: none;

}

.btn-banner2:hover {
  color:white;
  background: rgba(54,221,124,1);
  text-decoration: none;

}



.no-right-margin a {
      margin-right: 0px;
}

.btn-banner a:hover{
    color: #446DF6;
    color: white;
}

.apply-for-job-button {
  list-style-type: none;
  display: inline;
  color: #26C485;
  border: 3px solid #446DF6;
  border-radius: 8px;
  padding: 5px;
  margin: 0px !important;
  flex-direction: row;
  justify-content: flex-end;

  &:hover {
    color: white;
    background: #446DF6;
  }
}

.delete-button a {
  flex-direction: row;
  margin: 8px;
  margin-right: 24px;
  color: white;
  padding: 12px;
  border: 1px solid $maingreen;
  background-color:  $maingreen;
  border-radius: 3px;
  transition: background-color 0.3s;
  display:inline;
  text-decoration: none;

}

.delete-button a:hover {
  background-color: white;
  color:$maingreen;
  padding: 12px;
  border: 1px solid $maingreen;
  border-radius: 3px;


}


.bookings {
  // display:flex;
  // flex-direction: column;
}

.bookings-buttons {
  display:flex;
  align-self: center;
  justify-content: space-around;
  align-content: flex-start;

}



.back-button a {
  list-style-type: none;
  display: inline;
  border: 3px solid #00ff83;
  background-color:#00ff83;
  border-radius: 8px;
  padding: 20px;
  margin: 0px;
  flex-direction: row;
  justify-content: flex-end;
   &:hover {
    color: white;
    background: #00ff83;
  }
}

.button-view-job {
  border: 1px solid $maingreen;
  background-color: $maingreen;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
  position: absolute;
  right: 14%;
  top: 20%;
  font-size: 18px;
  color: white;
}

.button-view-job:hover {
  background-color: white;
  color: $maingreen;
}

.button-view-job-employer {
  border: 1px solid $mainblue;
  border-radius: 3px;
  padding: 3px;
  position: absolute;
  right: 50px;
  top: 38px;
  font-size: 16px;
  background-color: $mainblue;
  color:white;
}



.button-view-job-employer:hover {
  background-color: white;
  color: $mainblue;
}

.button-form {
  width: 100%;
  margin-bottom: 20px;
  margin-left: 0;
  background-color: $mainblue;
  color: white;

}

.button-form:hover {
  background-color: $hoverblue;
  color: white;
}


.btn-confirm-application {
  border-radius: 3px;
  bottom: 0px;
  background-color: $maingreen;
  color: white;
}

.btn-back-confirm-application {
  border-radius: 3px;
  bottom: 0px;
  background-color: $maingreen;
  color: white;
  a {
  color: white;
  }
}

.btn-confirm-application:hover {
  background-color: white;
  border-color: $maingreen;
  color: $maingreen;
}

.btn-back-confirm-application:hover {
  background-color: white;
  color: $maingreen;
  border-color: $maingreen;
  a {
    color: $maingreen;
  }
}

.button-search-candidate {
  background-color: $maingreen;
  color: white;
  border: 1px solid $maingreen;
  border-radius: 3px;
  transition: background-color 0.3s;
  padding: 2.5px;
}

.button-search-employer {
  background-color: $mainblue;
  color: white;
  border: 1px solid $mainblue;
  border-radius: 2px;
  transition: background-color 0.3s;
  padding: 6px 12px;
  margin-top: 3px;
  width: 10%;
}

.button-search-candidate:hover {
  background-color: white;
  color: $maingreen;

}

.button-search-employer:hover {
  background-color: white;
  color: $mainblue;

}

.event-buttons {
  float: right;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.button-event-delete-employer {
  border: 1px solid $mainblue;
  border-radius: 3px;
  width: 80%;
  padding: 3px;
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  color: $mainblue;
  background-color: white;

}

.button-event-update-employer {
  border: 1px solid $mainblue;
  border-radius: 3px;
  width: 80%;
  padding: 3px;
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  color: $mainblue;
  background-color: white;

}



.button-event-delete-employer:hover {
  background-color: $mainblue;
  color: white;
}

.button-event-update-employer:hover {
  background-color: $mainblue;
  color: white;
}

.button-create {
  margin: 30px 0;
  padding: 16px;

}

.button-create:hover {
  background-color: white;
  color: $mainblue;
  border-color: $mainblue;

}

.button-filters {
  border-color: $maingreen;
  border-radius: 3px;
  color: $maingreen;
  font-size: 12px;
  padding: 8px;
  margin-bottom: 12px;
  margin-left: 100px;

}

.button-filters:hover {
  background-color: $maingreen;
  color: white;

}

.event-update {
  width: 50%;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size: 18px;
}

.event-delete {
  width: 50%;
  margin-top: 35px;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size: 18px;
}

.offer-delete {
  transition: background-color 0.3s;
  font-size: 14px;
  text-align: center;
  padding: 12px 20px;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 5px;

}

.event-create-job {
  width: 50%;
  margin-top: 35px;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size: 18px;
}

.btn-accept {
  background: $maingreen;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-accept:hover {
  background-color: white;
  border-color: $maingreen;
  color: $maingreen;
}

.btn-decline {
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-job  {

  background-color: $mainblue;
  color: white;
}
