.job-listings {
  display:flex;
  flex-direction: column;
}

.job-listing-cards {
  list-style-type: none;
  border: 1px solid rgb(240,240,240);
  background-color: white;
  color:rgb(40,40,40);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 12px 18px;
  margin: 16px;
}


.job-details {
  display: block;
  position: relative;
  border-radius: 10px;
  p {
    margin: 0;
  }
}


.job-details-top {
  padding: 10px;
}

.job-details-middle {
  padding: 10px;
}

.job-details-bottom {
  border-top: 1px solid #e2e1dd;
  width: 100%;
  right: 0;
  bottom: 0;
  height: 50px;
  padding: 0;
}

.job-details-bottom-venue {
  border-right: 1px solid #e2e1dd;
  padding-top: 10px;
  text-align: left;
}

.job-details-bottom-salary {
  padding-top: 10px;
  text-align: center;
}




