// .equal {
//   display: flex;
//   display: -webkit-flex;
//   flex-wrap: wrap;
// }


.card-items {
  background-color: rgb(240,240,240);
  color:rgb(40,40,40);
  box-shadow: 1px 1px 1px rgb(40,40,40);
  border: 1px solid rgb(40,40,40);
  border: 1px solid rgb(240,240,240);
  // background-color: white;
  border-radius: 3px;
  margin: 5px 16px;
  h3 {
    font-size: 24px;
  }
}


.job-details {
  display: block;
  // have a look
  position: relative;
  border-radius: 10px;
  p {
    margin: 0;
    font-size: 16px;
  }
}


.job-details-top {
  padding: 10px;
}


.job-title {
  margin-bottom: 24px;
  padding: 16px;
  line-height: 50px;
  h1 {
    font-size: 32px;
    text-align: center;
    color: white;
    background-color: $maingreen;
    border-radius: 3px;
    padding: 10px;
  }
}

.job-title-employer {
  margin-bottom: 24px;
  padding: 16px;
  line-height: 50px;
  h1 {
    font-size: 32px;
    text-align: center;
    color: white;
    background-color: $mainblue;
    border-radius: 3px;
    padding: 10px;
  }
}


.left-show-cards {
  // list-style-type: none;
  border: 1px solid rgb(240,240,240);
  background-color: white;
  color:rgb(40,40,40);
  border-radius: 3px;
  height: 12%;
  padding: 16px;
  margin: 12px;
  h4 {
    font-size: 20px;
    font-weight: lighter;
  }
  p {
    font-size: 14px;
    font-weight: lighter;
  }
}


.job-details-middle {
  padding: 10px;

  p {
    font-weight: lighter;
    color: gray;
    font-size: 14px;
  }

  span {
    font-size: 14px;
  }
}

.right-show-cards {
  //list-style-type: none;
  border: 1px solid rgb(240,240,240);
  background-color: white;
  color:rgb(40,40,40);
  border-radius: 3px;
  height: 12%;
  padding: 18px 12px;
  margin: 12px;
  h4 {
    font-size: 20px;
    font-weight: lighter;
  }
  p {
    font-size: 14px;
    font-weight: lighter;
  }
}

.right-show-card-buttons {
  //list-style-type: none;
  border: 1px solid rgb(240,240,240);
  color:rgb(40,40,40);
  height: 8%;
  margin: 12px;
}

.right-show-cards-candidate {
  //list-style-type: none;
  border: 1px solid rgb(240,240,240);
  background-color: white;
  color:rgb(40,40,40);
  border-radius: 3px;
  height: 12%;
  padding: 18px 12px;
  margin: 8px;
  h4 {
    font-size: 20px;
    font-weight: lighter;
  }
  p {
    font-size: 14px;
    font-weight: lighter;
  }
}


  .job-details-bottom {
  border-top: 1px solid $maingreen;
  width: 100%;
  right: 0;
  bottom: 0;
  height: 50px;
  padding: 0;
}

.job-details-bottom-venue {
  border-right: 1px solid $maingreen;
  padding-top: 10px;
  text-align: left;
  font-size: 14px;
}

.job-details-bottom-salary {
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
}

.job-status-cards {
  border: 1px solid rgb(240,240,240);
  background-color: white;
  color:rgb(40,40,40);
  border-radius: 3px;
  padding: 12px 18px;
  margin: 5px 16px;


  li {
    list-style-type: none;
  }
}



.jobcard {
  width: 65%;
}

.statuscard {
  width: 35%;

  h3 {
    font-size: 24px;
  }

  li {
    font-weight: lighter;
    font-size: 14px;
  }
}


.no-margin {
  margin-top: -1px;
}

.bookings {
  display:flex;
  flex-direction: column;
  list-style-type: none;

}


.job-listings {
  display:flex;
  flex-direction: column;
  list-style-type: none;
}

.job-listing-cards-candidate {
  list-style-type: none;
  background-color: white;
  border: 1px solid $maingreen;
  border-radius: 3px;
  margin: 5px 16px;
  position: relative;
  width: 100%;
}

.job-listing-cards-employer {
  list-style-type: none;
  border: 1px solid $mainblue;
  background-color: white;
  border-radius: 3px;
  margin: 5px 16px;
  position: relative;
}


.job-details {
  display: block;
  position: relative;
  border-radius: 10px;
  p {
    font-size: 16px;
  }

}
.job-details-top {
  padding: 10px;
  width: 60%;
}
.job-details-middle {
  padding: 10px;
  p {
    font-weight: lighter;
    color: gray;
    font-size: 14px;
  }
  span {
    font-size: 14px;
  }
}
.job-details-bottom {
  border-top: 1px solid #e2e1dd;
  width: 100%;
  right: 0;
  bottom: 0;
  height: 50px;
  padding: 0;
}
.job-details-bottom-venue {
  border-right: 1px solid #e2e1dd;
  padding-top: 10px;
  text-align: left;
  font-size: 16px;
}
.job-details-bottom-salary {
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
}
.job-status-cards {
  border: 1px solid $mainblue;
  background-color: white;
  color: black;
  border-radius: 3px;
  padding: 12px 18px;
  margin: 5px 16px;
  li {
    list-style-type: none;
  }
}
.employer-job-listings {
  //display: flex;
}
.jobcard {
  width: 65%;
  margin-right: 0px;
   float: left;
  h3 {
    font-size: 24px;
    margin-left: 35px;
  }
  p {
    font-weight: lighter;
    font-size: 14px;
    margin-left: 35px;
  }
  span {
    font-weight: lighter;
    font-size: 14px;
  }
}
.statuscard {
  width: 30%;
  margin-left: 0px;
  h3 {
    font-size: 24px;
    margin-left: 35px;
  }
  li {
    font-weight: lighter;
    font-size: 14px;
  }
  a {
    color: $mainblue;
  }
}

.booking-card1 {
  margin: 8px 0px 0px 36px;

  font-weight:lighter;
  color: gray;
  font-size:14px;
}

.booking-card2 {
  margin: 0px 0px 12px 36px;
  font-weight:lighter;
  color: gray;
  font-size:14px;
}

.booking-card-status {
  margin: 8px 0px 8px 32px;
  padding: 4px;
}

.booking-card-title {

  margin: 24px 0px 12px 32px;
  color: black;
  text-align: left;
}

.bookings-candidate {
  list-style-type: none;
  background-color: white;
  border: 1px solid $maingreen;
  border-radius: 3px;
  margin: 5px 16px;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookings-details {
  padding-top:10px;
  padding-bottom: 10px;
}

.event-details {
  display: block;
  position: relative;
  border-radius: 10px;
  padding: 0 16px 16px 16px;
  width: 60%;
  p {
    margin: 0;
    font-size: 16px;

  }
}

.event-details-top {
  padding-bottom: 16px;
  h3 a {
    text-decoration: none;
    color: black;
    margin-left: 6px;
    border-radius: 3px;
    padding: 8px;
  }
  p {
    padding: 16px;
  }
}

.event-details-middle {
  padding: 10px;
  p {
    font-weight: lighter;
    color: gray;
    font-size: 14px;
    padding-left: 6px;
  }
  span {
    font-size: 14px;

  }
}

.event-details-bottom {
  right: 0;
  bottom: 0;
  height: 50px;
  padding-bottom: 60px;
  padding-left: 16px;

  p {
    padding: 0px;
    font-weight: lighter;
  }
}

.event-card-flex {
  display: flex;
  justify-content: space-between;
  h3 {
    display:flex;
    padding: 5px;

  }

}

.offers-card-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 5px 5px 10px;
  width: 25%;

  p {
    margin: 0;
    font-size: 16px;
    font-weight: lighter;

  }
  a {
    text-decoration: none;
    color: black;
  }
}

.candidate-info-flex {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;


}

.cards-wrapper-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  width: 100%;
}

.second-offers-card {
  padding: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-grow: 1;
  p {
    margin: 0;
    font-size: 14px;
    font-weight: lighter;
    padding: 5px 5px 0 5px;

  }
}

.info-bottom {
  p {font-size: 14px;
  }
}

.third-offers-card {
  padding: 5px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20%;

  p {
    margin: 0;
    font-size: 14px;
    font-weight: lighter;
    padding: 5px;
    color: gray;

  }

}

.applicants-accept-decline {
  padding: 5px;

}


#company-name {
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0 auto;
}

.fourth-staff-card {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 12%;
  p {
    margin: 0;
    font-size: 14px;
    font-weight: lighter;
    padding: 5px;

  }
}

.red-check {
  color: red;
}

.staff-card-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 5px 5px 10px;
  width: 20%;

  p {
    margin: 0;
    font-size: 16px;
    font-weight: lighter;

  }
  a {
    text-decoration: none;
    color: black;
  }
}

.second-staff-card {
  padding: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-grow: 1;
  p {
    margin: 0;
    font-size: 14px;
    font-weight: lighter;
    padding: 5px 5px 0 5px;

  }
}

.third-staff-card {
  padding: 5px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 15%;

  p {
    margin: 0;
    font-size: 14px;
    font-weight: lighter;
    padding: 5px;
    color: gray;

  }


}
