.job-listings {
  display:flex;
  flex-direction: column;
  align-items: center;
}


.job-listing-cards {
  list-style-type: none;
  border: 1px solid rgb(40,40,40);
  background-color: white;
  color:rgb(40,40,40);
  box-shadow: 1px 1px 1px rgb(40,40,40);
  padding: 16px;
  width: 840px;
  margin: 5px auto;
  border-radius: 3px;
}


.card-items {
  border: 1px solid rgb(40,40,40);
  background-color: rgb(240,240,240);
  color:rgb(40,40,40);
  box-shadow: 1px 1px 1px rgb(40,40,40);
  border-radius: 10px;
}



.job-title {
  margin: 16px 0px 16px 0px;
}


.left-show-cards {
  // list-style-type: none;
  border: 1px solid rgb(240,240,240);
  background-color: white;
  color:rgb(40,40,40);

  border-radius: 3px;
  height: 12%;
  padding: 12px;
  margin: 8px;

  p {
    margin: 0px;
  }
}

.right-show-cards {
  //list-style-type: none;
  border: 1px solid rgb(240,240,240);
  background-color: white;
  color:rgb(40,40,40);

  border-radius: 3px;
  height: 12%;
  padding: 18px 12px;
  margin: 8px;

  p {
    margin: 0px;
  }
}

.no-margin {
  margin-top: -10px;
}
