.job-show-container-candidate {
  background-color: #F6F6F6;
  border: 1px solid $maingreen;
  border-radius: 3px;
  padding: 40px;
}

.job-show-container-employer {
  background-color: #F6F6F6;
  border: 1px solid $mainblue;
  border-radius: 3px;
  padding: 40px;
}

.job-title {
  padding: 10px;
}

.container-candidates {
  margin-top: -50px;
}
