
.footer {
  background: $footergrey;
  display: flex;
  flex-direction: column;
  // height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: 111px;

  a , h6 {
      color: white;
    };
    a:hover {
      color: $mainblue;
    }
}

.footer-row {
margin-top: 20px;
display:flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 20px;
}

.social-icons a {
margin-right: 25px;

}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  color: white;
}

.footer2 {
  background: $footergrey;
  margin-top: 26px;
  text-align: center;

}

.footer2 h6 {
  font-weight: 100;
  font-family: "Roboto Slab";
}

.other-footer {
  border-top: 1px solid #BABABA;
  margin: 60px auto 0 auto;
  bottom: 0;
  width: 90%;
   a {
    color: #8E8E8E;
  }
  a:hover {
    color: $mainblue;
  }
}

.footer2-other {
  margin-top: 26px;
  text-align: center;
  color: #8E8E8E;
  font-weight: lighter;

}

.other-footer-row {
margin-top: 20px;
display:flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 20px;
}

