*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
   min-height: 200px;
   margin-bottom: 100px;
   clear: both;
}


.footer {
  height: 100px;
  margin: 0px;
  padding: 10px;
  background: white;
  width: 100%;
  border: white;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  display: flex;

}


.left-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 30px;

}


.right-container {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  flex-direction: row;

}

.item {
  text-align:center;
  color: rgb(40,40,40);
  margin: 0px 40px;
}

.item:hover{
    color:white;
  }


.copyright {
  text-align: center;
}

p {
  margin: 0px 50px;

}

.fab {
    padding: 0px 10px;
    font-size: 30px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    color:rgb(40,40,40);

}

a i:hover {
      color:white;
    }


#footer-title {
  color:#333333;
  margin: 20px;
}

#footer-title:hover {
    color:white;
  }



