
.footer {
  background: $footergrey;
  display: flex;
  flex-direction: column;
  // height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: 111px;

  a , h6 {
      color: white;
    };
    a:hover {
      color: $mainblue;
    }
}

.footer-row {
margin-top: 20px;
display:flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 20px;
}

.social-icons a {
margin-right: 25px;

}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  color: white;
}

.footer2 {
  background: $footergrey;
  margin-top: 26px;
  text-align: center;

}

.footer2 h6 {
  font-weight: 100;
  font-family: "Roboto Slab";
}

// .footer {
//   position: sticky !important;
//   margin-top: 50px;
//   height: 70px;
//   margin: 0px;

//   //padding: 10px;
//   background: $footergrey;
//   width: 100%;
//   border: $footergrey;
//   justify-content: flex-start;
//   align-items: center;
//   position: fixed;
//   bottom: 20px;
//   display: flex;
//   justify-content: space-around;
//     a, h6 {
//       color: white;
//     };
//     a:hover {
//       color: $mainblue;
//     }
// }

// .footer2 {
//   // position: fixed !important;
//   height: 30px;
//   margin: 0px;
//   //padding: 10px;
//   background: $footergrey;
//   width: 100%;
//   border: $footergrey;

//   align-items: center;
//   position: fixed;
//   bottom: 0;
//   display: flex;
//   justify-content: center;
//   h6 {
//       color: white;
//     }

// }

// .footer-row-icons {
//   font-size: 20px;
//   display: flex;
//   justify-content: space-around;
//   min-width: 14vw;
// }


// .left-container {
//   flex-direction: column;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 15px 30px;

// }


// .right-container {
//   display: flex;
//   justify-content:flex-end;
//   align-items: center;
//   flex-direction: row;

// }

// .item {
//   text-align:center;
//   color: rgb(40,40,40);
//   margin: 0px 40px;
// }

// .item:hover{
//     color:white;
//   }


// .copyright {
//   text-align: center;
// }

// p {
//   margin: 0px 50px;

// }

// .fab {
//     padding: 0px 10px;
//     font-size: 30px;
//     width: 45px;
//     text-align: center;
//     text-decoration: none;
//     color:rgb(40,40,40);

// }

// a i:hover {
//       color:white;
//     }


// #footer-title {
//   color:#333333;
//   margin: 20px;
// }

// #footer-title:hover {
//     color:white;
//   }



