.form-signup {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
}

.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
}

.forgot-your-password {
  color: $mainblue;
}

.forgot-your-password:hover {
  color: $hoverblue;
}

.sign-up-link-in-login {
  color: $mainblue;
}

.sign-up-link-in-login:hover {
  color: $hoverblue;
}

.login-link-in-sign-up {
  color: $mainblue;
}

.login-link-in-sign-up:hover {
  color: $hoverblue;
}

.event-info {
  padding-bottom: 20px;
  font-weight: lighter;
  font-size: 16px;
}

.event-field {
  height: 32px;
  background-color: white;
}

#job_listing_gender {
  display: block;
  width: 100%;
  height: 32px;
}

#job_listing_currency {
  display: block;
  width: 100%;
  height: 32px;
}

.form-control[disabled] {
  background-color: white;
  }

  .form-control[readonly] {
  background-color: white;
  }

