/* Main navbar */

.navbar {
  display: flex;
  justify-content: flex-end;
  // width: 100vh;
  padding: 0px 10px 0px 10px;
  top: 0px;
  text-align: center;
  transition: 0.5s;
  margin-bottom: 0px;
}

.navbar-white {
  background-color: white;
}

.navbar ul li {
  list-style-type: none;
  display: inline-block;
  color: #3895D3;
  border: 0px solid #3895D3;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px;
  flex-direction: row;
  justify-content: flex-end;

}


.navbar ul li a:hover {
  color: rgb(40,40,40);

}
