/* Main navbar */

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0px 10px 0px 10px;
  top: 0px;
  text-align: center;
  transition: 0.5s;
  margin-bottom: 0px;
}

.navbar-white {
  background-color: white;
}

.navbar ul li {
  list-style-type: none;
  display: inline-block;
  color: #3895D3;
  border: 3px solid #3895D3;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  flex-direction: row;
  justify-content: flex-end;
  &:hover {
  color: white;
  background: #3895D3;
  }
}
