.jobs-searchbar {
  padding: 0px 16px;
  margin-bottom: 5px;
}

#jobs-search-candidate {
  width: 85%;
  border: 1px solid $maingreen;
  border-radius: 3px;
  height: 31.5px;

}

.sort-by {
  padding: 0px 16px;
}
