.jobs-searchbar {
  padding: 0px 16px;
  margin-bottom: 5px;
}

#jobs-search-candidate {
  width: 85%;
  border: 1px solid $maingreen;
  border-radius: 3px;
  height: 31.5px;

}

.sort-by {
  padding: 0px 16px;
}


.events-search {
  margin-bottom: 5px;
  flex: 1;

}

#events-search-form {
  border: 1px solid $mainblue;
  border-radius: 3px;
  justify-content: flex-start;
  width: 89%;
  height: 40px;
  padding: 10px -10px;
  margin-top: -2px;

}

.navbar-form {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 15px;
  align-items: stretch;
  margin-bottom: 12px;
}

#search-in-filter {
  flex-grow: 1;
  margin: 0;
  min-width: 150px;
  ;

}

#search-icon {
  padding: 1px 7px !important;
  font-size: 12px;
  border-radius: 3px;
}



