<div class="footer">

  <div class="footer-row">
    <h5 style="font-size: 23px"><%= link_to "STAFFIZE {Event}", root_path, id:"footer-title" %></h5>
  </div>
  <div class="footer-row">
    <%= link_to "Find Jobs", job_listings_path, class:"item" %>
  </div>

  <div class="footer-row">
    <%= link_to "Find Staff", job_listings_path, class:"item"  %>
  </div>
  <div class="footer-row">
    <%= link_to "Create Account", new_user_registration_path, class:"item"  %>
  </div>
  <div class="footer-row-icons">
    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
    <a href = "https://www.twitter.com"><i class="fab fa-twitter"></i></a>
    <a href = "https://www.instagram.com"><i class="fab fa-instagram"></i></a>
  </div>

</div>

  <div class="footer2">
    <h6>&copy; 2018 Staffize.it - Tutti i diritti riservati - Piazzale Archinto, 1 20145 Milano - info@staffize.it - +39 3485184367<h6>
  </div>





