
<div class = "footer">
<h4 id="footer-title">STAFFIZE</h4>

  <div class ="footer-stuff">
    <div class = item"><p>List of Jobs</p></div>
    <div class = item"><p>Top Employers</p></div>
    <div class = item"><p>Find staff</p></div>
    <div class = item"><p>Top Employees</p></div>
  </div>

<div class = "copyright">
<h6>&copy; 2018 Staffize.it<h6>
</div>

</div>

