
<p id="footer-title">STAFFIZE</p>
<div class = "footer">

<div class ="footer-stuff">

    <p>List of Jobs</p>
    <p>Top Employers</p>
    <p>Find staff</p>
    <p>Top Employees</p>
</div>


<div class = "copyright">
<p>&copy; 2018 Staffize.it<p>
</div>

</div>

