<div class="other-footer">
  <div class="other-footer-row">
    <span style="font-size: 20px"><%= link_to "STAFFIZE {Event}", root_path, id:"footer-title" %></span>

    <%= link_to "Find a job", job_listings_path, class:"item" %>
    <%= link_to "Find my staff", candidates_job_listings_path, class:"item"  %>
    <%= link_to "Create Account", new_user_registration_path, class:"item"  %>

    <div class="social-icons">
      <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
      <a href = "https://www.twitter.com"><i class="fab fa-twitter"></i></a>
      <a href = "https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    </div>
  </div>

  <div class="footer2-other">
    <h6>&copy; 2018 - Staffize.it - Tutti i diritti riservati - Corso Magenta, 52 - 20123 - Milano - info@staffize.it - +39 348.51.84.367<h6>
  </div>
</div>
